:root {
    --outer-shadow: 
      0 0 0.1vw 0.4vw #e0f7fa,
      0 0 0.4vw 0.6vw #00e5ff,
      0 0 1vw 0.4vw #26c6da;
    --inner-shadow:
      inset 0 0 0.1vw 0.4vw #e0f7fa,
      inset 0 0 0.4vw 0.6vw #00e5ff,
      inset 0 0 1vw 0.4vw #26c6da;
    --all-shadow:
      0 0 0.1vw 0.4vw #e0f7fa,
      0 0 0.4vw 0.6vw #00e5ff,
      0 0 1vw 0.4vw #26c6da,
      inset 0 0 0.1vw 0.4vw #e0f7fa,
      inset 0 0 0.4vw 0.6vw #00e5ff,
      inset 0 0 1vw 0.4vw #26c6da;
  }
  .ajunektikade{
    position: relative;
    top: 390px;
    height: 100px;
    }
   
.playercard{
    box-shadow: var(--outer-shadow);
    display: inline-block;
    justify-items: center;
    border-color: black;
    border-radius: 7px;
    width: 270px;
    border: 6px solid #7a68ac;
    transition: all 0.3s;
    background-color: rgb(232, 215, 244);
    height: 90px;
    position: fixed;
    top: 450px;
    margin-bottom: -10px;
    left: 40px;
      transition: 0.5s;
      overflow-y: scroll;

  }
  .playercard:hover{
    transform: scale(1);
    z-index: 2;
  }
  .playercard h6{
    text-align: center;
    position: relative;
    top: -25px;
    border-radius: 5px;
  }
  .playercard h3{
    background-color: #7a68ac;
    text-align: center;
  }
  .playercard p{
    text-size-adjust: 5px;
    position: relative;
    top: -25px;
  }
  
.ajunek{
    position: relative;
    top: 150px;
    }
